<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> filling-out-layout
<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  Contact Ruby on Rails Tutorial about the sample app at the
  <a href="http://railstutorial.org/contact">contact page</a>.
<<<<<<< HEAD
=======
<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  Contact Ruby on Rails Tutorial about the sample app at the
  <a href="http://railstutorial.org/contact">contact page</a>.
>>>>>>> filling-in-layout
=======
>>>>>>> filling-out-layout
</p>